/// font size
@mixin stretch($padding: 0) {
    position: absolute;
    top: $padding;
    left: $padding;
    right: $padding;
    bottom: $padding;
}

@mixin list-unstyled() {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}

@mixin list-inline() {
    @include list-unstyled();

    & > li {
        display: inline-block;
        padding: 0 5px 10px 0;
    }
}
