{% extends 'layouts/default.njk' %}

{% block content %}
    <h1>Basic Form page</h1>
    <div class="o-form__step">
        <div class="o-form__step-wrapper">
            <div class="row">
                <div class="col-sx-12 col-md-6 text--center">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis omnis asperiores eveniet! Ipsum laborum labore necessitatibus fuga illum impedit dolore corporis amet sunt! Iste officia unde ipsa aut maxime voluptatem.</p>
                </div>
                <div class="col-sx-12 col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="parsley-class-handler-gender" class="o-form-item o-form-item--radio-group o-form-item--fixed-label ">
                                <div class="o-form-item o-form-item--fixed-label o-form-item--radio">
                                    <input ng-model="ctrl.f.ContactTitle" value="Item11" class="o-form-item__input" type="radio" id="lead-gender-0" name="lead-gender"
                                        data-parsley-required="true"
                                        data-parsley-required-message="required field"
                                        data-parsley-no-focus='true'
                                        data-parsley-class-handler='#parsley-class-handler-gender'
                                        data-parsley-errors-container='#parsley-error-container-gender'
                                        data-parsley-group = "lead-step2"
                                    />
                                    <label class="o-form-item__input-label" for="lead-gender-0">Radio 1</label>
                                </div>
                                <div class="o-form-item o-form-item--fixed-label o-form-item--radio">
                                    <input ng-model="ctrl.f.ContactTitle" value="Item12" class="o-form-item__input" type="radio" id="lead-gender-1" name="lead-gender" />
                                    <label class="o-form-item__input-label" for="lead-gender-1">Radio 2</label>
                                </div>
                                <div class="o-form-item o-form-item--fixed-label o-form-item--radio">
                                    <input ng-model="ctrl.f.ContactTitle" value="Item13" class="o-form-item__input" type="radio" id="lead-gender-2" name="lead-gender" />
                                    <label class="o-form-item__input-label" for="lead-gender-2">Radio 3</label>
                                </div>
                                <div id="parsley-error-container-gender"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="o-form-item">
                                <label for="lead-firstname" class="o-form-item__label">Firstname*</label>
                                <input ng-model="ctrl.f.ContactFirstName" id="lead-firstname" type="text" class="o-form-item__input"
                                    data-parsley-required="true"
                                    data-parsley-required-message="required field"
                                    data-parsley-group = "lead-step2"
                                >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="o-form-item">
                                <label for="lead-name" class="o-form-item__label">Lastname*</label>
                                <input ng-model="ctrl.f.ContactName" id="lead-name" type="text" class="o-form-item__input"
                                    data-parsley-required="true"
                                    data-parsley-required-message="required field"
                                    data-parsley-group = "lead-step2"
                                >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="o-form-item o-form-item--select  o-form-item--fixed-label">
                                <label for="comments" class="o-form-item__label">
                                    Category
                                </label>
                                <select ng-model="ctrl.f.ContactNote" id="availibility-hour" class="o-form-item__input"
                                    data-parsley-required="true"
                                    data-parsley-required-message="required field"
                                    data-parsley-group = "lead-step2">
                                    <option value="">select something</option>
                                    <option value="val_0">value 0</option>
                                    <option value="val_1">value 1</option>
                                    <option value="val_2">value 2</option>
                                    <option value="val_3">value 3</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row o-form__actions">
                        <div class="col-md-6 push-md-6">
                            <button type="button" class="o-button o-button--secondary o-form__cta" data-parsley-group="lead-step2">
                                Submit
                            </button>
                        </div>
                        <div class="col-md-6 pull-md-6 text--right">
                            <button type="button" class="js-form-step--previous o-button o-button--secondary o-form__cta">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}