.o-form-item {
    $o: #{&};
    $o__label-margin: 5px;
    $o__input-padding--vertical: 15px;
    $o__input-padding-horizontal: 12px;
    $o__label-offset: 1.8em;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;

    input, select {
        height: 50px;
        outline: none;

        &:focus, &:active:focus {
            outline: none;
            border-color: get-color($colors-gray, 'primary', dark);
        }
    }

    input::-ms-clear {
        display: none;
    }

    select {
        appearance: none;
    }

    select::-ms-expand {
        display: none;
    }

    &__input {
        width: 100%;
        padding: $o__input-padding--vertical $o__input-padding-horizontal;
        margin-bottom: $o__label-margin;
        border-radius: 5px;
        border: 1px solid get-color($colors-gray, 'primary', lighter);
    }

    &__label {
        display: block;
        padding-left: $o__input-padding-horizontal;
        margin-bottom: $o__label-margin;
    }

    &--select {
        .o-icon {
            color: get-brand-color('secondary');
            position: absolute;
            bottom: 25%;
            right: 20px;
        }
    }

    &--checkbox, &--radio {
        position: relative;
        flex-direction: row;
        min-height: 0;
        justify-content: flex-start;

        #{$o}__input {
            width: auto;
            height: auto;
            position: absolute;
            top: 1px;
            left: 0;
        }

        #{$o}__input-label {
            display: block;
            padding-left: 30px;
        }
    }

    &--radio-group {
        margin-bottom: 20px;

        // @include media-breakpoint-up('lg') {
        //     flex-direction: row;
        //     align-items: center;
        //     justify-content: flex-start;

        //     > * {
        //         + * {
        //             margin-left: 30px;
        //         }
        //     }
        // }
    }

    &.is-untouched:not(#{$o}--fixed-label) {
        > #{$o}__label {
            font-style: italic;
            transform: translateY(calc(#{$o__input-padding--vertical} + #{$o__label-offset}));
            opacity: 0.5;
        }
    }
}
