/// font size
@mixin font-size($sizeValue: 1.6, $line: $sizeValue * 1.5) {
  font-size: ($sizeValue * 1) + px;
  font-size: ($sizeValue / 10) + rem;
  line-height: ($line * 1) + px;
  line-height: ($line / 10) + rem;
}

@mixin cover(){
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
