{% extends 'layouts/default.njk' %}

{% block content %}
    <h1>{{ icon('close') }} Hello World!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis voluptatibus eius blanditiis nobis obcaecati fugiat cumque, harum cupiditate, consequuntur recusandae!</p>

{% endblock %}
