/// In here component selectors can be styled.
/// For me, a component is an element that is used in one context only.(ex.: a product, a carousel, a navigation-bar, a footer, a payment,...)
/// The the difference with an object, is that an object is context-independent (an icon, a button, ...)
/// As a guide, i state the following rule: 'a component can have objects and components as children,
/// whereas an object can have no objects or components as children'

@import 'icon';
